
<div class="container border d-flex flex-column">
  <h3 class="badge text-bg-danger">BurgerShop</h3>
  <h4 style="color: white; margin-bottom: 30px">Create account</h4>

  <form [formGroup]="myForm">

    <div class="input-group mb-3">
      <span class="input-group-text">Prenume</span>
      <input class="form-control"
             placeholder="Prenume"
             aria-describedby="basic-addon1"
             formControlName="firstName"
             [ngClass]="myForm.controls['firstName'].errors ? 'is-invalid' : ''">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Nume</span>
      <input class="form-control"
             placeholder="Nume"
             aria-describedby="basic-addon1"
             formControlName="lastName"
             [ngClass]="myForm.controls['lastName'].errors ? 'is-invalid' : ''">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Numar de telefon</span>
      <input class="form-control"
             aria-describedby="basic-addon1"
             formControlName="phone"
             [ngClass]="myForm.controls['phone'].errors ? 'is-invalid' : ''">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input class="form-control"
             placeholder="Email"
             aria-describedby="basic-addon1"
             formControlName="email"
             [ngClass]="myForm.controls['email'].errors ? 'is-invalid' : ''">
    </div>

    <div class="input-group mb-3" >
      <span class="input-group-text">Password</span>
      <input class="form-control"
             placeholder="Parola"
             formControlName="password"
             type="password">
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="myForm.status === 'INVALID'"
            (click)="doRegister()"
    >Register</button>
  </form>

  <button type="button"
          class="btn btn-secondary"
          (click)="goToLogin()"
          style="margin-top: 30px; width: 30%; margin-bottom: 10px;">Go to login
  </button>
</div>

<p-toast position="top-center"></p-toast>
