
<div class="container border d-flex flex-column">
  <h3 class="badge text-bg-danger">BurgerShop</h3>
  <h4 style="color: white; margin-bottom: 30px">Create account</h4>

  <form [formGroup]="myForm" (ngSubmit)="doRegister()">

    <div class="input-group mb-3">
      <span class="input-group-text">Full name</span>
      <input class="form-control"
             placeholder="full name"
             aria-describedby="basic-addon1"
             formControlName="fullName"
             [ngClass]="myForm.controls['fullName'].errors ? 'is-invalid' : ''"
             [(ngModel)]="fullName">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input class="form-control"
             placeholder="Email"
             aria-describedby="basic-addon1"
             formControlName="email"
             [ngClass]="myForm.controls['email'].errors ? 'is-invalid' : ''"
             [(ngModel)]="email">
    </div>

    <div class="input-group mb-3" >
      <span class="input-group-text">Password</span>
      <input class="form-control"
             placeholder="Password"
             formControlName="password"
             type="password"
             [(ngModel)]="password">
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="myForm.status === 'INVALID'">Register</button>
  </form>

  <button type="button"
          class="btn btn-secondary"
          (click)="goToLogin()"
          style="margin-top: 30px; width: 30%; margin-bottom: 10px;">Go to login
  </button>
</div>

<p-toast position="top-center"></p-toast>
