<section>

  <h3 *ngIf="this.products.length === 0; else elseBlock" style="color: gray; display: flex; justify-content: center; margin-top: 255px" >Cosul este gol</h3>

  <ng-template #elseBlock>
    <div class="container border">
      <app-cart-item *ngFor="let product of products"
                     [product] = "product"
                     (productEvent)="removeFromCart(product)"
                     style="display: flex; justify-content: center">
      </app-cart-item>

      <article class="footer">
        <span class="badge text-bg-warning total-amount">{{totalAmount()}} RON</span>
        <button class="btn btn-danger" (click)="placeOrder()">Plaseaza comanda</button>
      </article>
    </div>
  </ng-template>

</section>

<p-toast position="center"></p-toast>
