<div class="card" style="width: 95%;" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../../assets/burgerImg/filetFish.png" style="width: 150px;" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

          <ul class="list-group list-group-flush" style="color: #4a5057;">
            <li class="list-group-item"><h4 class="card-title">{{item.name}}</h4></li>
            <li class="list-group-item" style="display: flex; flex-direction: row; gap: 10px;">
              <p><strong>Extra optiuni: </strong></p> <p> {{item.extraIngredients}}</p> <h5 style="color: #f9c141"> +{{extraPrice}} lei</h5>
            </li>
            <li style="display: flex; flex-direction: row; gap: 10px;" *ngIf="item.lessIngredients !== ''" class="list-group-item"><p><strong> Fara: </strong></p> <p> {{item.lessIngredients}}</p></li>
            <li class="list-group-item" style="display: flex; flex-direction: row; gap: 10px;"><h6>Pret baza: {{product.price}}</h6></li>
            <li class="list-group-item">
              <article style="display: flex; gap: 15px;">
                <span class="p-buttonset">
                  <button pButton pRipple icon="pi pi-minus" class="p-button-outlined p-button-warning"></button>
                  <button pButton pRipple label="{{item.quantity}}" class="p-button-outlined p-button-warning"></button>
                  <button pButton pRipple icon="pi pi-plus" class="p-button-outlined p-button-warning"></button>
                </span>

                <p style="color: #ed9c00; font-size: 20px; padding-top: 10px; margin-right: auto;"><strong>{{item.price * item.quantity}} lei</strong></p>

                <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text"
                        style="margin-right: 10px;"></button>
              </article>
            </li>
          </ul>


<!--        <h4 class="card-title">{{item.name}}</h4>-->
<!--        <div style="display: flex; flex-direction: row; gap: 10px;">-->
<!--          <p><strong> Optiuni extra: </strong></p>-->
<!--          <p> {{item.extraIngredients}}</p>-->
<!--          <h5 style="color: #f9c141"> +{{extraPrice}} lei</h5>-->
<!--        </div>-->

<!--        <div *ngIf="item.lessIngredients !== ''" style="display: flex; flex-direction: row; gap: 10px;" >-->
<!--          <p><strong> Fara: </strong></p>-->
<!--          <p> {{item.lessIngredients}}</p>-->
<!--        </div>-->

<!--        <h6>Pret baza: {{product.price}}</h6>-->

<!--        <article style="display: flex; gap: 15px;">-->
<!--          <span class="p-buttonset">-->
<!--            <button pButton pRipple icon="pi pi-minus" class="p-button-outlined p-button-warning"></button>-->
<!--            <button pButton pRipple label="{{item.quantity}}" class="p-button-outlined p-button-warning"></button>-->
<!--            <button pButton pRipple icon="pi pi-plus" class="p-button-outlined p-button-warning"></button>-->
<!--          </span>-->

<!--          <p style="color: #ed9c00; font-size: 20px; padding-top: 10px; margin-right: auto;"><strong>{{item.price * item.quantity}} lei</strong></p>-->

<!--          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>-->
<!--        </article>-->




      </div>
    </div>
  </div>
</div>

<p-toast position="top-left"></p-toast>
