<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
<!--      <img src="{{desert.image}}" class="img-fluid rounded-start">-->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{desert.name}}</h5>
        <p class="card-text">{{desert.description}}</p>
      </div>
      <div class="card-div">
        <span class="badge text-bg-warning">{{desert.price | currency: "RON"}}</span>
        <i class="pi pi-plus-circle" style="font-size: 1.5rem" (click)="addCart()"></i>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-left"></p-toast>
