
<div class="container border d-flex flex-column">

  <h3 class="badge text-bg-danger">BurgerShop</h3>

  <form [formGroup]="myForm">

    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input class="form-control"
             placeholder="Email"
             aria-label="Username"
             aria-describedby="basic-addon1"
             formControlName="email"
             [ngClass]="myForm.controls['email'].errors ? 'is-invalid' : ''"
             [(ngModel)]="email">
    </div>

    <div class="input-group mb-3" >
      <span class="input-group-text">Parola</span>
      <input class="form-control"
             placeholder="Password"
             formControlName="password"
             type="password"
             [(ngModel)]="password">
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="myForm.status === 'INVALID'"
    (click)="login()">Intra in cont</button>
  </form>

  <button type="button"
          class="btn btn-secondary"
          (click)="goToRegister()"
          style="margin-top: 30px; width: 30%; margin-bottom: 10px;">Creaza cont nou
  </button>

</div>

<p-toast position="bottom-center"></p-toast>
