<div class="container-xl mt-5">


  <section class="d-flex gap-3">
    <button pButton pRipple type="button"
            icon="pi pi-arrow-left"
            class="p-button-text p-button-rounded p-button-secondary"
            routerLink="/historyOrders"
    ></button>

    <h2 style="margin: 0px;" class="d-flex align-items-center">Detalii comanda #{{orderId}}</h2>
  </section>


  <section class="d-flex gap-2 mt-5">

    <div class="d-flex flex-column gap-2" style="width: 100%;">

      <article>
        <p style="margin: 0px">Data: <strong>{{order.placedOrderTime | date: 'dd/MM/yyyy HH:mm'}}</strong></p>
      </article>

      <p-divider></p-divider>

      <article>
        <h3 style="margin: 0px">Livrare la: </h3>
        <p style="margin: 0px">{{order.addressToString}}</p>
      </article>

      <p-divider></p-divider>

      <article>
        <h3 style="margin: 0px">Plata cu cardul:</h3>
        <p style="margin: 0px">{{order.cardNumber}}</p>
      </article>

      <p-divider></p-divider>

      <article>
        <h3 style="margin: 0px;">Sumar:</h3>
        <div class="d-flex justify-content-between gap-3">
          <h5 style="margin: 0px">{{getTotalQuantity()}} produse</h5>

          <h5>{{order.productsAmount}} lei</h5>
        </div>

        <div *ngIf="order.productsAmount < 100" class="d-flex flex-column">
          <div class="d-flex justify-content-between gap-3">
            <h5 style="margin: 0; ">Taxa transport</h5>
            <h5 style="margin: 0;">{{order.deliveryTax}} lei</h5>
          </div>
          <p>Fara taxa transport pentru comenzi peste 100 lei</p>
        </div>

        <div *ngIf="order.tipsTax > 0" class="d-flex justify-content-between gap-3">
          <h5 style="margin: 0; ">Tips</h5>
          <h5 style="margin: 0;">{{order.tipsTax}} lei</h5>
        </div>

        <div class="d-flex justify-content-between gap-3">
          <h3 style="margin: 0; ">TOTAL</h3>
          <h3 style="margin: 0;">{{order.amount}} lei</h3>
        </div>



      </article>

<!--      <article class="status-order mt-4"></article>-->

      <article class="d-flex flex-column gap-3 mt-5">

        <h3>Status comanda</h3>

        <div class="status-order"
             [icon]="'pi-check'"
             [colorIcon]="'var(--blue-200)'"
             [message]="'Comanda plasata'"
             [date]="'18 Apr 2023, 21:39'"
             [active]="true"
        ></div>

        <i class="pi pi-arrow-down p-text-secondary ms-2" style="font-size: 2rem"></i>

        <div class="status-order"
             [icon]="'pi-exclamation-triangle'"
             [colorIcon]="'var(--red-500)'"
             [message]="'Comanda anulata'"
             [date]="'18 Apr 2023, 21:39'"
             [active]="false"
        ></div>

        <i class="pi pi-arrow-down p-text-secondary ms-2" style="font-size: 2rem"></i>


        <div class="confirmedPayment d-flex gap-3">

          <button pButton pRipple type="button" icon="pi pi-check" [disabled]="true"
                  [ngStyle]="{backgroundColor:'var(--blue-200)'}"
                  class="p-button-rounded p-button-secondary"></button>
          <div>
            <h5 style="margin: 0;">Plata confirmata</h5>
            <p style="margin: 0;">18 Apr 2023, 21:42</p>
          </div>

        </div>

        <i class="pi pi-arrow-down p-text-secondary ms-2" style="font-size: 2rem"></i>

        <div class="prepareOrder d-flex gap-3">

          <button pButton pRipple type="button" icon="pi pi-check" [disabled]="true"
                  [ngStyle]="{backgroundColor:'var(--blue-200)'}"
                  class="p-button-rounded p-button-secondary"></button>
          <div>
            <h5 style="margin: 0;">Comanda in pregatire</h5>
            <p style="margin: 0;">18 Apr 2023, 21:45</p>
          </div>

        </div>

        <i class="pi pi-arrow-down p-text-secondary ms-2" style="font-size: 2rem"></i>

        <div class="prepareOrder d-flex gap-3">

          <button pButton pRipple type="button" icon="pi pi-check" [disabled]="true"
                  [ngStyle]="{backgroundColor:'var(--blue-200)'}"
                  class="p-button-rounded p-button-secondary"></button>
          <div>
            <h5 style="margin: 0;">In curs de livrare</h5>
            <p style="margin: 0;">18 Apr 2023, 21:50</p>
          </div>

        </div>

        <i class="pi pi-arrow-down p-text-secondary ms-2" style="font-size: 2rem"></i>

        <div class="prepareOrder d-flex gap-3">

          <button pButton pRipple type="button" icon="pi pi-check" [disabled]="true"
                  [ngStyle]="{backgroundColor:'var(--blue-200)'}"
                  class="p-button-rounded p-button-secondary"></button>
          <div>
            <h5 style="margin: 0;">Comanda livrata</h5>
            <p style="margin: 0;">18 Apr 2023, 22:00</p>
          </div>

        </div>

      </article>



    </div>


    <div class="d-flex flex-column gap-2" style="width: 100%;">
      <h3>Produse in comanda</h3>

      <div *ngFor="let orderItem of orderItems" class="card border-0">
        <div class="card-body">
          <h5 class="card-title" style="margin: 0px;">{{orderItem.quantity}} X {{orderItem.productName}}</h5>
          <p *ngIf="orderItem.extraIngredients !== ''"
              class="card-text" style="margin: 0px;">
            <strong>Extra optiuni: </strong>{{orderItem.extraIngredients}}</p>
          <p *ngIf="orderItem.lessIngredients !== ''"
             class="card-text" style="margin: 0px;">
            <strong>Fara: </strong>{{orderItem.lessIngredients}}</p>
          <p class="card-text" style="margin: 0px;">
            <strong>{{orderItem.price}} lei</strong></p>
        </div>
      </div>

      <button *ngIf="order.status === 'Order is being delivered'"
              pButton pRipple type="button" label="Confirmă primirea comenzii"
              (click)="confirmReceivedOrder()"
              class="p-button-rounded p-button-danger"
              [loading]="loading" style="float: right"
      ></button>

      <button *ngIf="order.status === 'Placed order' ||
                     order.status === 'Payment confirmed' ||
                     order.status === 'Order in preparation'"
              pButton pRipple type="button" label="Anuleaza comanda"
              (click)="cancelOrder()"
              class="p-button-rounded p-button-danger"
              [loading]="loading" style="float: right"
      ></button>

    </div>

  </section>

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-toast position="top-right"></p-toast>

</div>
