
<section class="nav nav-header" *ngIf="hasNotRoute('/login') && hasNotRoute('/register')">
    <img class="logo" src="../../../../assets/logo.png" routerLink="/mainPage">

  <article class="mb-3 d-flex align-items-center order-group" routerLink="/cart">
    <i class="pi pi-cart-plus" style="font-size: 2rem"></i>
    <p class="order-group-text">Comanda mea</p>
  </article>

  <article class="mb-3 user-group">
    <i class="pi pi-user" style="font-size: 2rem"></i>
    <p><strong>Cont</strong></p>
  </article>

  <article class="mb-3" style="display: flex; justify-content: center; align-items: center; margin-right: 10%">
    <i class="pi pi-sign-out" style="font-size: 2rem;" (click)="logout()"></i>
  </article>

</section>

<section class="nav nav-menu" *ngIf="hasNotRoute('/login') && hasNotRoute('/register')">

    <button type="button" class="btn btn-danger" routerLink="/burgers">Burgeri</button>

    <button type="button" class="btn btn-danger" routerLink="/fries">Cartofi</button>

    <button type="button" class="btn btn-danger" routerLink="/drinks">Bauturi</button>

    <button type="button" class="btn btn-danger" routerLink="/deserts">Deserturi</button>
</section>
