<!--<section class="nav nav-header" *ngIf="hasNotRoute('/login') && hasNotRoute('/register')">-->
<section class="nav nav-header">

  <img class="logo" src="../../../../assets/logo.png" routerLink="/mainPage">


  <article class="d-flex align-items-center order-group">
    <button type="button" pButton icon="pi pi-cart-plus"
            label="Comanda mea" (click)="openCart()" ></button>
  </article>

  <article *ngIf="loggedIn; else elseBlock" class="user-group">
    <button type="button" pButton icon="pi pi-user" label="{{accountButtonLabel}}"
            (click)="menu.toggle($event)" style=""></button>
    <p-menu #menu [popup]="true" [model]="accountMenuItems"
            [style.display]="showMenu ? 'block' : 'none'"></p-menu>
  </article>

  <ng-template #elseBlock>
    <article class="user-group">
      <button type="button" pButton icon="pi pi-user" label="{{accountButtonLabel}}"
              (click)="op.toggle($event)"></button>
      <p-overlayPanel #op>
        <ng-template pTemplate>
          <p><strong>Intră în contul Burger Shop</strong></p>
          <p-divider></p-divider>
          <section style="display: flex; gap: 25px;">
            <button pButton pRipple type="button" label="Intră în cont"
                    class="p-button-danger p-button-sm"
                    routerLink="/login"></button>
            <button pButton pRipple type="button" label="Cont nou"
                    class="p-button-secondary p-button-text p-button-sm"
                    routerLink="/register"
            ></button>
          </section>
        </ng-template>
      </p-overlayPanel>
    </article>
  </ng-template>


</section>

<!--<section class="nav nav-menu" *ngIf="hasNotRoute('/login') && hasNotRoute('/register')">-->
<section class="nav nav-menu">

    <button type="button" class="btn btn-danger" routerLink="/burgers">Burgeri</button>

    <button type="button" class="btn btn-danger" routerLink="/fries">Cartofi</button>

    <button type="button" class="btn btn-danger" routerLink="/drinks">Băuturi</button>

    <button type="button" class="btn btn-danger" routerLink="/sauces">Sosuri</button>

</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3" style="display: flex; justify-content: center; align-items: center;">
          <span class="input-group-text" id="basic-addon1" style="background-color: #ffc244; color: white;">Email</span>
          <span class="badge text-bg-danger" style="height: 38px; font-size: 20px;">{{email}}</span>
        </div>

        <div class="input-group mb-3" style="display: flex; justify-content: center; align-items: center;">
          <span class="input-group-text" id="basic-addon2" style="background-color: #ffc244; color: white;">Name</span>
          <span class="badge text-bg-danger" style="height: 38px; font-size: 20px;">{{name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
