

<div class="container">
  <div class="cards">
      <article
        class="app-card-item"
        *ngFor="let card of cards"
        (emitMainCardId)="setAsMainCard($event)"
        [email]=email
        [card] = card
        [isAPlacedOrder]="isAPlacedOrder"
        (emitDeleteCard)="onDeleteCard($event)"
      ></article>
  </div>

  <p-divider></p-divider>

  <section style="text-align: center"></section>
    <button pButton pRipple label="Adaugă nou card"
            icon="pi pi-plus"
            class="p-button-danger delete-button"
            (click)="addNewCard()"
    ></button>
</div>

<p-toast position="bottom-center"></p-toast>


